.plotly .modebar-container {
  display: none !important;
}

.page-header {
  padding: 16px 24px;
  border-bottom: 1px solid #1f2933;
}

.app-title {
  margin: 0;
  font-weight: 600;
}

:root {
  --bslib-sidebar-main-bg: #f8f8f8;
}